@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.layouts
@import uk.gov.hmrc.offpayroll.views.html.govuk_wrapper


@betaBanner = {
    @layouts.betaBanner(false, "#link-goes-here", "", false, false)
}

@serviceInfoContent = {
    @layouts.serviceInfo(betaBanner, false, Option.empty, true )
}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
    }
}

@govuk_wrapper(appConfig = uk.gov.hmrc.offpayroll.FrontendAppConfig,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               mainContent = layouts.article(mainContent),
               serviceInfoContent = serviceInfoContent,
               scriptElem = scriptElem
)
