
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models.RADIO

@import uk.gov.hmrc.offpayroll.models.Element
@import uk.gov.hmrc.offpayroll.models.RADIO
@(f:Form[_], element:Element)(implicit request: Request[_], messages: Messages, session: Map[String, String])
@import uk.gov.hmrc.offpayroll.controllers.routes
@uk.gov.hmrc.offpayroll.views.html.main_template(title = "Hello from off-payroll-frontend", bodyClasses = None) {
    <h1>@Messages(element.questionTag)</h1>




    @helpers.form(routes.InterviewController.processElement(element.clusterParent.clusterID, element.order)) {

        @if(element.elementType == RADIO ) {


        <div class="form-group">
          <fieldset>
          <div class="form-field--inline">
            <label for="radio-yes" class="block-label">
              <input id="radio-yes" type="radio" name="@element.questionTag" value="true" />
              Yes
            </label>
          </div>
          <div class="form-field--inline">
            <label for="radio-no" class="block-label">
              <input id="radio-no" type="radio" name="@element.questionTag" value="false" />
              No
            </label>
          </div>
          
      </fieldset>
    </div>

        }
        <button>submit</button>

        @if(true) {
            <p>Debug is on!</p>
            <ul>
                <li>@session.toString()</li>
                <li>Current element @element.toString</li>
            </ul>
        }


    }

}
