@import uk.gov.hmrc.offpayroll.models._
@import uk.gov.hmrc.offpayroll.models.Element

@import uk.gov.hmrc.offpayroll.models.RADIO
@import play.api.Play
@(element: Element)(implicit request: Request[_], messages: Messages)
    @if(element.elementType == RADIO) {

        <div class="form-group">
            <fieldset>
                <div class="form-field--inline">
                    <label for="radio-yes" class="block-label">
                        <input id="radio-yes" type="radio" name="@element.questionTag" value="Yes" />
                        Yes
                    </label>
                </div>
                <div class="form-field--inline">
                    <label for="radio-no" class="block-label">
                        <input id="radio-no" type="radio" name="@element.questionTag" value="No" />
                        No
                    </label>
                </div>

            </fieldset>
        </div>


    }
    @if(element.elementType == MULTI) {

    @for(child <- element.children) {
        <div class="form-field">
            <label for="@child.questionTag" class="block-label">
                <input id="@child.questionTag" type="@child.elementType.toString.toLowerCase" name="@element.questionTag" id="@child.questionTag" value="@child.questionTag" />
                @Messages(child.questionTag)
            </label>
        </div>
    }

}
<button>@Messages("global.button.continue")</button>

@if(Play.current.configuration.getBoolean("ui.debug").getOrElse(false)) {
    <p>Debug is on!</p>
    <ul>
        <li>@request.session.data.toString()</li>
        <li>Current currentElement @element.toString</li>
    </ul>
}
