
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models._
@import uk.gov.hmrc.offpayroll.models.Element

@(f:Form[_], element:Element, guidance: Html)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.offpayroll.controllers.routes
@uk.gov.hmrc.offpayroll.views.html.main_template(title = Messages(element.questionTag), bodyClasses = None) {

    <a href="@routes.ExitController.back()" style="line-height:3">Back</a>


    @helpers.form(routes.ExitController.processElement(element.order), 'class -> "jsForm", 'noValidate -> "noValidate") {

        <div class="form-group @if(f.errors.headOption.isDefined) {
            error
        }">
            <fieldset>
                <legend class="h1-heading" role="heading" aria-level="1" id="question">@Messages(element.questionTag)</legend>

                @guidance
                @if(f.errors.headOption.isDefined) {
                    <span class="error-notification">@Messages(f.errors.head.message)</span>
                }

                @uk.gov.hmrc.offpayroll.views.html.interview.element(element)
            </fieldset>
        </div>
        <button>@Messages("global.button.continue")</button>

    }

}
