
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models.ElementType
@import uk.gov.hmrc.offpayroll.controllers.routes
@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.Element
@import java.util.Date

@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.ExitReason
@(exitReason: ExitReason)(implicit request: Request[_], messages: Messages)
@uk.gov.hmrc.offpayroll.views.html.main_template(title = "Off Payroll Decision", bodyClasses = None,
    mainClass = Option("full-width") ) {

    <main role="main" class="result">
        <div class="grid-layout" id="resultPreHeader">
            <div class="grid-layout__column--2-3">Reference number ESFTPZZ9ZA</div>
            <div class="grid-layout__column--1-3">@(new Date().format("dd/mm/yyyy"))</div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="transaction-banner--complete">
                    <h1 class="transaction-banner__heading" id="decision-banner">@messages(exitReason.heading)</h1>
                    <p>@messages(exitReason.reason)</p>
                </div>
                <p>@messages(exitReason.explanation)</p>

            </div>
        </div>

    </main>

}