
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models.ElementType
@import uk.gov.hmrc.offpayroll.controllers.routes
@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.Element
@import java.util.Date

@import uk.gov.hmrc.offpayroll.models.Decision
@()(implicit request: Request[_], messages: Messages)
@uk.gov.hmrc.offpayroll.views.html.main_template(
    title = Messages("hardExit.heading"),
    bodyClasses = None,
    mainClass = Option("full-width"),
    virtualPage = Some("decisionHard")
) {

    <main role="main" class="result">
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="transaction-banner--complete">
                    <span class="transaction-banner__heading h1-heading" id="decision-banner">@messages("hardExit.heading")</span>

                </div>
                <div class="indent-warning">
                    <p> HMRC will not keep a record of this transaction for security reasons. </p>
                    <p>Please <a href="#printResult"> print a copy for your records.</a></p>
                </div>
                <hr />
                <p>Workers that hold office for the end client are classed as employed for tax purposes.</p>
                <p>You need to reassess the status if this engagement varies or changes.</p>
                <h2>You should now do the following:</h2>
                <h3>For workers who operate through a <a href="https://www.gov.uk/working-for-yourself" rel="external">limited company or partnership</a></h3>
                <p>The intermediaries legislation will apply to this engagement where the worker’s business (the intermediary) satisfies <a href="https://www.gov.uk/hmrc-internal-manuals/employment-status-manual/esm3100" rel="external">these specific conditions of liability.</a></p>

                <ul class="bullets">
                    <li>
                        <h4>Public sector engagements</h4>
                        <p>If you’re the worker you should tell the organisation that pays your fees (the fee payer) to deduct tax and National Insurance from your payment.</p>
                        <p>If you’re the fee payer you need to deduct tax and National Insurance from <a href="https://www.gov.uk/hmrc-internal-manuals/employment-status-manual/esm3140" rel="external">the worker’s deemed employment payment</a>(s) during this engagement.</p>
                    </li>
                    <li>
                        <h4 >Private sector engagements</h4>
                        <p>If you’re the worker you need to follow <a href="https://www.gov.uk/guidance/ir35-what-to-do-if-it-applies" rel="external">this guidance about your taxes.</a></p>
                    </li>
                </ul>

                <h3>For workers who are <a href="https://www.gov.uk/set-up-sole-trader" rel="external">sole traders</a></h3>
                <p>If you’re the engager you need to <a href="https://www.gov.uk/paye-for-employers/paye-and-payroll" rel="external">operate PAYE</a> for this worker.</p>
                <p>If you’re the worker you should tell your engager to operate PAYE for you.</p>


                <h2>About this result</h2>
                <p>HMRC will stand by the result given unless a compliance check finds the information provided isn’t accurate.</p>
                <p>HMRC can review your taxes for up to 20 years.</p>
            </div>
            <div class="bordered-box" id="printResult">
                <form>
                    <p class="print-hidden"><strong>Optional</strong>: you can customise this summary by adding some information before you print it. This is for your reference only and won't be stored by HMRC.</p>
                    <div class="form-field">
                        <label>
                            Check performed by (name)
                            <input type="text"
                            name="completedBy" class="form-control form-control--block"/>
                        </label>
                    </div>
                        <!--
                            <div class="form-field">
                                <label>
                                    Worker's name
                                    <input type="text"
                                    name="worker" class="form-control form-control--block"/>
                                </label>
                            </div>-->
                    <div class="form-field">
                        <label>
                            Your reference (contractor name or contract reference)
                            <input type="text"
                            name="ref" class="form-control form-control--block"/>
                        </label>
                    </div>
                    <a href="javascript:window.print()" class="print-link print-hidden js-visible">Print this page</a>
                </form>
            </div>
        </div>

    </main>


}