
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models.ElementType
@import uk.gov.hmrc.offpayroll.controllers.routes
@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.Element
@import java.util.Date

@import uk.gov.hmrc.offpayroll.models.Decision
@()(implicit request: Request[_], messages: Messages)
@uk.gov.hmrc.offpayroll.views.html.main_template(title = "Off Payroll Decision", bodyClasses = None,
    mainClass = Option("full-width"),
    virtualPage = Some("hardExit")
) {

    <main role="main" class="result">
        <div class="grid-layout" id="resultPreHeader">
            <div class="grid-layout__column--2-3">Reference number ESFTPZZ9ZA</div>
            <div class="grid-layout__column--1-3">@(new Date().format("dd/MM/yyyy"))</div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="transaction-banner--complete">
                    <h1 class="transaction-banner__heading" id="decision-banner">@messages("hardExit.heading")</h1>
                    <p>@messages("hardExit.reason")</p>
                </div>
                <h2>What happens next</h2>
                <p>If you employ this worker you will need to deduct taxes and insurance on any salary or wages you pay them.</p>
                <p>These results are not legally binding.</p>
            </div>
        </div>

    </main>


}