
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.Element
@import uk.gov.hmrc.offpayroll.RADIO

@(f:Form[_], element: Element)(implicit request: Request[_], messages: Messages, flash: Flash)
@import uk.gov.hmrc.offpayroll.controllers.routes
@uk.gov.hmrc.offpayroll.views.html.main_template(title = "Hello from off-payroll-frontend", bodyClasses = None) {
    <h1>Hello from off-payroll-frontend!</h1>


    @* The value of the current Cluster and Element is hard coded here needs to be passed from the controller *@
    @helpers.form(routes.InterviewController.processElement(0, 1)) {

        @if(element.elementType == RADIO ) {
            <label>
                <input type="radio" name="@element.questionTag" value="true" />
                Yes
            </label>
            <label>
                <input type="radio" name="@element.questionTag" value="false" />
                No
            </label>

        }
        <button>submit</button>



    }

}
