
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models._
@import uk.gov.hmrc.offpayroll.models.Element

@(f:Form[_], element:Element, guidance: Html)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.offpayroll.controllers.routes
@uk.gov.hmrc.offpayroll.views.html.main_template(title = "Off-payroll-frontend", bodyClasses = None) {


    <a href="@routes.InterviewController.back()">Back</a>

    <h1>@Messages(element.questionTag)</h1>

    @guidance

    @helpers.form(routes.InterviewController.processElement(element.clusterParent.clusterID, element.order)) {
        @uk.gov.hmrc.offpayroll.views.html.interview.element(element)

    }

}
