
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models._
@import uk.gov.hmrc.offpayroll.models.Element
@import play.api.Play

@(f:Form[_], element:Element, guidance: Html)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.offpayroll.controllers.routes
@uk.gov.hmrc.offpayroll.views.html.main_template(
    title = "Check employment status for tax",
    bodyClasses = None,
    virtualPage = Some("setupPage.html")
) {
    <a href="@routes.SetupController.back()">Back</a>

    <h1>@Messages(element.questionTag)</h1>

    @guidance

    @helpers.form(routes.SetupController.processElement(element.order), 'class -> "jsForm", 'class -> "jsForm") {


        <div class="form-group @if(f.errors.headOption.isDefined) {
            error
        }">
            <fieldset>
                @if(f.errors.headOption.isDefined) {
                    <span class="error-notification">@Messages(f.errors.head.message)</span>
                }

        @uk.gov.hmrc.offpayroll.views.html.interview.element(element)
            </fieldset>
        </div>
        <button>@Messages("global.button.continue")</button>
    }

}
