
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models.ElementType
@import uk.gov.hmrc.offpayroll.controllers.routes
@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.Element

@import uk.gov.hmrc.offpayroll.models.Decision
@()(implicit request: Request[_], messages: Messages)
@uk.gov.hmrc.offpayroll.views.html.main_template(title = "Off Payroll Start", bodyClasses = None,
    mainClass = Option("full-width") ) {

        <div class="grid-layout">
            <div class="grid-layout__column--2-3">

                <h1 class="heading-xlarge">
                    Check your employment status
                </h1>

                <h2>Use this service to find out if a worker is employed or self-employed for tax purposes.</h2>
                <p>Workers need to check their employment status as it will affect the way they pay tax and National Insurance contributions. They may be taxed as an employee even if they work through an intermediary or as a sole trader.</p>

                <h3>This tool will ask you questions and tell you if:</h3>

                <ul class="list list-bullet">
                    <li>a contractor is employed or self-employed</li>
                    <li>intermediaries legislation (IR35) applies where the worker is contracted through a limited company, partnership or individual intermediary</li>
                </ul>

                <p>You can use this tool to check a current contractor and use the result as evidence of their status. You’ll need to reuse this tool if there are changes to the contract or the way the contractor works.</p>

                <h3>You can check someone’s employment status if you are the:</h3>
                <ul class="list list-bullet">
                    <li>contractor providing a service</li>
                    <li>person or company hiring the worker</li>
                    <li>agency that is placing the worker</li>
                </ul>

                <h3>To use this tool you will need to know the:</h3>
                <ul class="list list-bullet">
                    <li>terms of the contract</li>
                    <li>way the contract will work in practice</li>
                    <li>type of company that the worker provides services through</li>
                    <li>how the worker provided their services in the past/li>
                </ul>

                <p>
                    <a class="button button--get-started" href="setup" role="button">Start now</a>
                </p>


            </div>



}